
html, body {
    background-color: #eeeeee;
    background-image: url('images/logo_tuf.svg'), url('images/virtuhcon.png');
    background-repeat: no-repeat;
    background-position: top 1rem left 1rem, top 1rem right 1rem;
    background-size: 5%, 8%;
    height: 100%;
    margin: 0;
}

